name: loglint

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
jobs:
  loglint:
    name: loglint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: scottg489/loglint-action@efbbb51f42e4b3506678a02c7822a676353d7de2 # v0.1.1
        with:
          repo_token: ${{ github.token }}
        continue-on-error: true
